## Настройка рабочей среды

In [46]:
# !pip install pandas

In [3]:
import pandas as pd

## Загрузка и исследование данных

In [4]:
data = pd.read_csv('data/tether_2024.csv')

In [5]:
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106046 entries, 0 to 106045
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   block_number       106046 non-null  int64
 1   log_index          106046 non-null  int64
 2   transaction_index  106046 non-null  int64
 3   removed            106046 non-null  object
 4   address            106046 non-null  object
 5   topic_0            106046 non-null  object
 6   topic_1            106000 non-null  object
 7   topic_2            106000 non-null  object
 8   topic_3            0 non-null       float64
 9   data               106046 non-null  object
dtypes: float64(1), int64(3), object(6)
memory usage: 8.1+ MB

,block_number,log_index,transaction_index,removed,address,topic_0,topic_1,topic_2,topic_3,data
0,18908896,206,115,f,0xdac17f958d2ee523a2206206994597c13d831ec7,0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4...,0x000000000000000000000000fb26e83e8f8ae76a9932...,0x000000000000000000000000a8131a4ba4beac80f9f6...,NaN,0x00000000000000000000000000000000000000000000...
1,18908901,209,136,f,0xdac17f958d2ee523a2206206994597c13d831ec7,0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4...,0x00000000000000000000000063b365dcdcdda8ae497a...,0x00000000000000000000000072d41935c280336fa012...,NaN,0x00000000000000000000000000000000000000000000...
2,18908902,94,56,f,0xdac17f958d2ee523a2206206994597c13d831ec7,0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4...,0x0000000000000000000000000589986f930c371b68d3...,0x00000000000000000000000036d955df2ac61efaee8d...,NaN,0x00000000000000000000000000000000000000000000...
3,18908903,270,112,f,0xdac17f958d2ee523a2206206994597c13d831ec7,0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4...,0x0000000000000000000000000d4a11d5eeaac28ec3f6...,0x0000000000000000000000009be960b301ce2463b690...,NaN,0x00000000000000000000000000000000000000000000...
4,18908905,98,58,f,0xdac17f958d2ee523a2206206994597c13d831ec7,0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4...,0x0000000000000000000000008a33bf35dbf91b3bf5bb...,0x00000000000000000000000028c6c06298d514db0899...,NaN,0x00000000000000000000000000000000000000000000...

Проверка дубликатов строк

In [33]:
data.duplicated().sum()

0

Вывод количества уникальных значений

In [32]:
# data['topic_0'].value_counts()
data.nunique()

block_number         91554
log_index             1221
transaction_index      499
removed                  1
address                  1
topic_0                  6
topic_1              51000
topic_2              55636
topic_3                  0
data                 68137
dtype: int64

Удаление неинформативных признаков

In [50]:
data.drop(['removed', 'address', 'topic_3'], axis=1, inplace=True)

Создание датафрейма с расшифровкой событий `topic_0`
<br>Данные получены из базы данных сигнатур https://www.4byte.directory/

In [30]:
df = data['topic_0'].value_counts().reset_index()
df.columns = ['topic_0', 'count']
# df['topic_0'] = df['topic_0'].str[:10]
esd_dict = {'0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4a11628f55a4df523b3ef': 'Transfer', 
            '0x8c5be1e5ebec7d5bd14f71427d1e84f3dd0314c0f7b2291e5b200ac8c7c3b925': 'Approval', 
            '0x42e160154868087d6bfdc0ca23d96a1c1cfa32f1b72ba9ba27b69b98a0d819dc': 'AddedBlackList',
            '0xcb8241adb0c3fdb35b70c24ce35c5eb0c17af7431c99f827d44a445ca624176a': 'Issue(uint256)',
            '0xd7e9ec6e6ecd65492dce6bf513cd6867560d49544421d0783ddf06e76c24470c': 'RemovedBlackList',
            '0x61e6e66b0d6339b2980aecc6ccc0039736791f0ccde9ed512e789a7fbdd698c6': 'DestroyedBlackFunds'
           }
df['esd'] = df['topic_0'].map(esd_dict)
df

,topic_0,count,esd
0,0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4...,100000,Transfer
1,0x8c5be1e5ebec7d5bd14f71427d1e84f3dd0314c0f7b2...,6000,Approval
2,0x42e160154868087d6bfdc0ca23d96a1c1cfa32f1b72b...,35,AddedBlackList
3,0xcb8241adb0c3fdb35b70c24ce35c5eb0c17af7431c99...,4,Issue(uint256)
4,0xd7e9ec6e6ecd65492dce6bf513cd6867560d49544421...,4,RemovedBlackList
5,0x61e6e66b0d6339b2980aecc6ccc0039736791f0ccde9...,3,DestroyedBlackFunds

Объединение датафреймов

In [54]:
merged_df = data.merge(df[['topic_0', 'esd']], how='left', on='topic_0')

Вывод строк с интересующим значением `esd`

In [59]:
merged_df[merged_df['esd'] == 'Issue(uint256)']

,block_number,log_index,transaction_index,topic_0,topic_1,topic_2,data,esd
6418,18934942,76,19,0xcb8241adb0c3fdb35b70c24ce35c5eb0c17af7431c99...,NaN,NaN,0x00000000000000000000000000000000000000000000...,Issue(uint256)
14641,18969950,113,23,0xcb8241adb0c3fdb35b70c24ce35c5eb0c17af7431c99...,NaN,NaN,0x00000000000000000000000000000000000000000000...,Issue(uint256)
82556,19269909,1,1,0xcb8241adb0c3fdb35b70c24ce35c5eb0c17af7431c99...,NaN,NaN,0x00000000000000000000000000000000000000000000...,Issue(uint256)
102133,19354073,93,35,0xcb8241adb0c3fdb35b70c24ce35c5eb0c17af7431c99...,NaN,NaN,0x00000000000000000000000000000000000000000000...,Issue(uint256)

In [49]:
# data.drop('amount', axis=1, inplace=True)

### Выводы и наблюдения
- дубликатов строк не обнаружено;
- в признаке `topic_3` нет записей;
- в признаках `removed`, `address` по одному уникальному значению